header,
footer {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    color: white;
    text-align: center;
    justify-content: center;
    height: 17vh;
}

img {
    border-radius: 50%
}