
body {
    margin:0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

}
header {
background-color: #f8f9fa;
padding:10px;
} 
.bodyContent{
    display: flex;
    justify-content: space-between;
}
.header-section{
display: flex;
align-items: center;
}

.header-section.start{
order: 1;
}
.header-section.middle{
    order:2;
    text-align: center;
}
.header.logo{
    max-width: 100px;
    height: auto;
    display: inline-block;
}

.social-icons{
    display: flex;
    justify-content: flex-end;
    order: 3;
}

.header-navCTA{
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.social-icons i{
    margin-left: 10px;
    font-size: 1.5rem;
}